{% extends "WEB-INF/views/base.html" %}

{% block title %} Epreuves {% endblock %}

{% block content %}
{% if Connecter == true and ((RoleCookie==2 or RoleCookie==3) or RoleCookie==4) %}
	<div class="d-flex justify-content-center">
		<a href="http://localhost:8080/JeuxOlympique/web/epreuves/newEpreuve"><button class="btn btn-primary mb-3">Ajouter une epreuve</button></a>
		<a href="http://localhost:8080/JeuxOlympique/web/epreuves/newDiscipline"><button class="btn btn-primary mb-3">Ajouter une discipline</button></a>
	</div>
{% endif %}
	<div class="d-flex justify-content-center">
	<table class="table w-75">
		<thead>
			<tr>
				<th scope="col">-</th>
				<th scope="col">Discipline</th>
				<th scope="col">Nom</th>
				<th scope="col">Catégorie</th>
{% if Connecter == true and ((RoleCookie==2 or RoleCookie==3) or RoleCookie==4) %}
					<th scope="col">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for epreuve in epreuves %}
				 <tr>
			      <td>{{ epreuve.id }}</td>
			      <td>{{ epreuve.discipline.nom }}</td>
			      <td>{{ epreuve.nom }}</td>
			      <td>{{ epreuve.categorieEpreuve.nom }}</td>
{% if Connecter == true and ((RoleCookie==2 or RoleCookie==3) or RoleCookie==4) %}
			     	<td><a class="btn btn-warning" href="http://localhost:8080/JeuxOlympique/web/epreuves/updateEpreuve?id={{ epreuve.id }}">Modifier</a> <a class="btn btn-danger" href="http://localhost:8080/JeuxOlympique/web/epreuves/delete?id={{ epreuve.id }}">Supprimer</a></td>
				 {% endif %}

			{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}