{% extends "WEB-INF/views/base.html" %}

{% block title %} Epreuves {% endblock %}

{% block content %}
	<div class="d-flex justify-content-center">
		<a href="http://localhost:8080/JeuxOlympique/web/epreuves/newEpreuve"><button class="btn btn-primary mb-3">Ajouter une epreuve</button></a>
		<a href="http://localhost:8080/JeuxOlympique/web/epreuves/newDiscipline"><button class="btn btn-primary mb-3">Ajouter une discipline</button></a>
	</div>
	<div class="d-flex justify-content-center">
	<table class="table w-75">
		<thead>
			<tr>
				<th scope="col">-</th>
				<th scope="col">Discipline</th>
				<th scope="col">Nom</th>
				<th scope="col">Catégorie</th>
			</tr>
		</thead>
		<tbody>
			{% for epreuve in epreuves %}
				 <tr>
			      <td>{{ epreuve.id }}</td>
			      <td>{{ epreuve.discipline.nom }}</td>
			      <td>{{ epreuve.nom }}</td>
			      <td>{{ epreuve.categorieEpreuve.nom }}</td>
			     
			{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}