{% extends "WEB-INF/views/base.html" %}

{% block title %} Sites {% endblock %}

{% block content %}
<body>
	
		
	
	<div class="d-flex justify-content-center">
		
		<form action="http://localhost:8080/JeuxOlympique/web/users/connexion" method="post" class="m-5">
	  	<div class="form-group text-center">
	  	
	  	<label for="email">Entrez le courriel de l'utilisateur : </label>
	    <input type="text" name="email" id="email" class="form-control" required />
	    
	   	<label for="password">Entrez le mot de passe de l'utilisateur : </label>
	    <input type="password" id="password" name="password" class="form-control" required />
		
	  	<div class="d-flex justify-content-around mt-4">
			    <button type="submit" class="btn btn-success">Se Connecter</button>
			    <a href="http://localhost:8080/JeuxOlympique/web/sites/" class="btn btn-primary">Retour</a>
		  </div>
	  
	  
	  </div>
	</form>
	</div>
	

</body>	
	
{% endblock %}