{% extends "WEB-INF/views/base.html" %}

{% block title %} Utilisateurs {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
	{% if Connecter == true and RoleCookie==4 %}
	<a href="http://localhost:8080/JeuxOlympique/web/users/newUser"><button class="btn btn-primary mb-3">Ajouter un
			utilisateur</button></a>
	{% endif %}
</div>
<div class="d-flex justify-content-center">
	<table class="table w-75">
		<thead>
			<tr>
				<th scope="col">Role</th>
				<th scope="col">Email</th>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				{% if Connecter == true and RoleCookie==4 %}
					<th scope="col">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.role.nom }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.nom }}</td>
				<td>{{ user.prenom }}</td>
				{% if Connecter == true and RoleCookie==4 %}
				<td><a class="btn btn-warning" href="http://localhost:8080/JeuxOlympique/web/users/update?id={{ user.id }}">Modifier</a> <a class="btn btn-danger" href="http://localhost:8080/JeuxOlympique/web/users/delete?id={{ user.id }}">Supprimer</a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}