{% extends "WEB-INF/views/base.html" %}

{% block title %} Sites {% endblock %}

{% block content %}
<body>
	
		
	
	<div class="d-flex justify-content-center">
		
		<form action="http://localhost:8080/JeuxOlympique/web/sites/addSite" method="post" class="m-5">
	  	<div class="form-group text-center">
			  
	    <label for="nom">Entrez le nom du site : </label>
	    <input type="text" name="nom" id="nom" class="form-control" required />
	  
	    <label for="ville">Entrez la ville du site : </label>
	    <input type="text" name="ville" id="ville" class="form-control" required />
	  
	    <label for="categorieSite">Entrez le type du site : </label>
	    <select id="categorieSite" name="categorieSite" class="form-control" required>
			{% for categorieSite in categoriesSites %}
				<option value="{{ categorieSite.id }}" >{{ categorieSite.nom }}</option>
			{% endfor %}
		</select>
		
	  	<div class="d-flex justify-content-around mt-4">
			    <button type="submit" class="btn btn-success" value="Enregistrer la session">Enregistrer</button>
			    <a href="http://localhost:8080/JeuxOlympique/web/sites/" class="btn btn-primary">Retour</a>
		  </div>
	  
	  
	  </div>
	</form>
	</div>
	

</body>	
	
{% endblock %}