{% extends "WEB-INF/views/base.html" %}

{% block title %} Sites {% endblock %}

{% block content %}
	<div class="d-flex justify-content-center">
		<a href="http://localhost:8080/JeuxOlympique/web/sites/newSite"><button class="btn btn-primary mb-3">Ajouter un site</button></a>
	</div>
	<div class="d-flex justify-content-center">
	<table class="table w-75">
		<thead>
			<tr>
				<th scope="col">-</th>
				<th scope="col">Nom</th>
				<th scope="col">Ville</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				 <tr>
			      <td>{{ site.id }}</td>
			      <td>{{ site.nom }}</td>
			      <td>{{ site.ville }}</td>
			      <td>{{ site.categorieSite.nom }}</td>
			      <td><a class="btn btn-warning" href="http://localhost:8080/JeuxOlympique/web/sites/updateSite?id={{ site.id }}">Modifier</a> <a class="btn btn-danger">Supprimer</a></td>
			     
			{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}